[Astrometry]

use_tmp = True
remove_tmp = True
#use_tmp = False
#remove_tmp = False

logfile=astrometry.log
reduction_dir = /data/00115/gebhardt/red1/reductions/
#reduction_dir = /work/03946/hetdex/maverick/red1/reductions/
#reduction_dir = /work/00115/gebhardt/stampede2/red1/reductions/
#cofes_vis_vmin = -15
#cofes_vis_vmax = 25
#cofes_vis_vmin = -450
#cofes_vis_vmax = 500
cofes_vis_vmin = -20
cofes_vis_vmax = 30
daophot_sigma = 2
#daophot_sigma = 3
#daophot_sigma = 10

#daophot_opt   = ../vdrp/config/daophot.opt
#daophot_phot_psf    = ../vdrp/config/use.psf
#daophot_photo_opt   = ../vdrp/config/photo.opt

#daophot_allstar_opt = ../vdrp/config/allstar.opt

# This is the initial grid that the daophot detection will be put on. Needs to be replaced
# by fplane positions. For now keeping iot identical to Karls setup.
#mktot_ifu_grid = ../vdrp/config/ifu_grid.txt

mktot_magmin = 0.
mktot_magmax = 22.
#mktot_magmax = 20.
#mktot_magmax = 19.
mktot_xmin = 0.
mktot_xmax = 50.
mktot_ymin = 0.
mktot_ymax = 50.

# Magnitude cut for computing flux normalisation between the three exposures.
fluxnorm_mag_max = 18.

shuffle_cfg = /data/00115/gebhardt/vdrp/shuffle.cfg
#shuffle_cfg = /work/00115/gebhardt/maverick/vdrp/shufg.cfg

fplane_txt = DATABASE
#fplane_txt = /work/00115/gebhardt/maverick/vdrp/fplane.txt

acam_magadd = 5.
wfs1_magadd = 5.
wfs2_magadd = 5.

# List of angular offsets to try 
#add_radec_angoff_trial = 0.0, 0.025, 0.075, 0.1, 0.125, 0.15, 0.175, 0.2, 0.225, 0.25, 0.275, 0.3
#add_radec_angoff_trial = 0.1
add_radec_angoff_trial = 1.35,1.375,1.4,1.425,1.45,1.475,1.5,1.525,1.55,1.575,1.6,1.65,1.7
# Subdirectory which will hold results of angular offset angle trials
add_radec_angoff_trial_dir = add_radec_angoff_trial

# Nominal angular offset
add_radec_angoff       =  1.45

# This is the smoothing values used for the smoothing spline interpolation
# for the coputation of the optimal angular offset.
optimal_ang_off_smoothing = 0.05

# Which epxosure(s) shoudl be used for offset computation, put 1,2,3 to use all three
offset_exposure_indices = 1,2,3

#getoff2_radii = 11.,5.,3.
getoff2_radii = 17.,8.,3.
#getoff2_radii = 21.,7.,3.

mkmosaic_angoff = 1.6


# This is the comman parent directory to all the astrometry.
# For each night/shot there shoudl be the corrsponding
# NIGHTvSHOT subdirectory that holds all.mch
# and radec2.dat.
#shifts_dir = /Users/mxhf/work/MPE/hetdex/src/vdrp_rewrite/shifts
shifts_dir = ./
#shifts_dir=/work/00115/gebhardt/maverick/vdrp/shifts_1


# Sets where the *.addin files are located.
# These are essentially the IFUcen files in a somewhat different format.
#addin_dir = ../vdrp/config
#ixy_dir = ../vdrp/config
#dither_offsets = [(0.,0.),(1.270,-0.730),(1.270,0.730)]
#dither_offsets = [(0.,0.),(0.,0.),(0.,0.)]
dither_offsets = [(0.,0.),(1.215,-0.70),(1.215,0.70)]
